<h1>Choose your table!</h1>

<form action="/choices">
	
	<p>
		Your name:<br />
		<select name="name">
			<option value="Brett">Brett</option>
			<option value="Calli">Calli</option>
			<option value="Chika">Chika</option>
		  <option value="Greg">Greg</option>
			<option value="Molly">Molly</option>
			<option value="Patrick">Patrick</option>
			<option value="Patricia">Patricia</option>
			<option value="Rune">Rune</option>
			<option value="Zeven">Zeven</option>
		</select>
	</p>
	
	<p>
		First choice:<br />
		<%= dropdown "first_choice" %>
	</p>
	
	<p>
		Second choice:<br />
		<%= dropdown "second_choice" %>
	</p>
	
	<p>
		Third choice:<br />
		<%= dropdown "third_choice" %>
	</p>
	
	<p>
		Fourth choice:<br />
		<%= dropdown "fourth_choice" %>
	</p>
	
	<p>
		Fifth choice:<br />
		<%= dropdown "fifth_choice" %>
	</p>
	
	<p>
		Sixth choice:<br />
		<%= dropdown "sixth_choice" %>
	</p>
	
	<p>
		Seventh choice:<br />
		<%= dropdown "seventh_choice" %>
	</p>
	
	<p>
		Eighth choice:<br />
		<%= dropdown "eighth_choice" %>
	</p>
	
	<p>
		Ninth choice:<br />
		<%= dropdown "ninth_choice" %>
	</p>
	
</form>