<div class="row">
	<div class="span8 columns">
		
		<h1>Resident Table Chooser</h1>
		
		<form action="/choices" method="POST">
		   <fieldset>
		    <legend>Choose your tables!</legend>
		    <div class="clearfix">
		      <label for="name">Your Name</label>
		      <div class="input">
		         <select id="normalSelect" name="name">
							<option value=""></option>
							<% Choice.names.each do |name| %>
								<option value="<%= name %>"><%= name %></option>
							<% end %>
						</select>
		      </div>
		    </div>

				<%= dropdown "first_choice", "First Choice" %>
				<%= dropdown "second_choice", "Second Choice" %>
				<%= dropdown "third_choice", "Third Choice" %>
				<%= dropdown "fourth_choice", "Fourth Choice" %>
				<%= dropdown "fifth_choice", "Fifth Choice" %>
				<%= dropdown "sixth_choice", "Sixth Choice" %>
				<%= dropdown "seventh_choice", "Seventh Choice" %>
				<%= dropdown "eighth_choice", "Eighth Choice" %>
				<%= dropdown "ninth_choice", "Ninth Choice" %>

		    <div class="actions">
		      <button class="btn large primary" type="submit">Save</button>
		    </div>
		  </fieldset>
		</form>
	</div>
	<div class="span8 columns">
		
	</div>
</div>